@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 30, 31, 34;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1f22;
}

::-webkit-scrollbar-thumb {
  background: #3b3d44;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e5058;
}
